@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
  --border: 0 0% 89.8%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 3.6%;
    --foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

* {
  border-color: hsl(var(--border));
}

h1 {
  scroll-margin-top: 80px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.02em;
}

h2 {
  scroll-margin-top: 80px;
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h3 {
  scroll-margin-top: 80px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h4 {
  scroll-margin-top: 80px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

p {
  line-height: 1.75rem;
}

p:not(:first-child) {
  margin-top: 1.5rem;
}
